table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.draggable-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: move;
  border: 1px black solid;
}

.draggable-circle.player1 {
  background-color: yellow;
}

.draggable-circle.player2 {
  background-color: red;
}